@use '../tools/media-queries' as mq;

.overflow {
  overflow: hidden;
}

.pc {
  display: block;
  @include mq.sp {
    display: none;
  }
}

.sp {
  display: none;
  @include mq.sp {
    display: block;
  }
}
