extends includes/layout.pug
block variables
  - page_title = 'TOP'
  - 
    var page_metatags = [
      {name: 'description', content: 'Top Page'}, 
    ]

block content
  |TESTING
block customize_script
  script(src="js/top/index.js")
